<a href="https://colab.research.google.com/github/SachinScaler/July23AdvancedPython/blob/main/Functional_Programming_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class A:
    counter=0
    def __init__(self):
      self.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

0

In [ ]:
class A:
    counter= []
    def __init__(self):
      self.counter.append(1)

A()

obj1 = A()

if A():
    print(A.counter)

[1, 1, 1]

Lambda Functions

In [ ]:
def square_number(x):
    return x**2

square_number(2)

4

In [ ]:
# lambda eq
(lambda x: x**2)(3)
# also known as anonymous functions as we don't need to store them in var

9

In [ ]:
(lambda x: x**2)(5)

25

In [ ]:
lambda_sq = lambda x: x**2
lambda_sq(4)

16

In [ ]:
lambda_sq(4)

25

In [ ]:
def custom_func(x):
    if x>5:
        return x**2
    else:
        return x**3

custom_lambda = lambda x: x**2 if x>5 else x**3
custom_lambda(7)

49

In [ ]:
def custom_func(x):
    if x>5:
        return x**2
    elif x<3:
        return x**3
    else:
        return x

# no elif : else x**3 if x<3
custom_lambda = lambda x: x**2 if x>5 else x**3 if x<3 else x

sorting using key

In [ ]:
matrix = [[2,13,5],
          [-15,10,12],
          [89,1,15]]
sorted(matrix)

[[-15, 10, 12], [2, 13, 5], [89, 1, 15]]

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
matrix = [[2,13,5],
          [-15,10,12],
          [89,1,15]]
sorted(matrix, key = lambda x:x[1])

[[89, 1, 15], [-15, 10, 12], [2, 13, 5]]

In [ ]:
matrix = [[2,13,5],
          [-15,10,12],
          [89,1,15]]

def some_func(x):
    return x[1]
sorted(matrix, key = some_func)

[[89, 1, 15], [-15, 10, 12], [2, 13, 5]]

In [ ]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]

In [ ]:
sorted(students)

TypeError: ignored

In [ ]:
students[0]<students[1]

TypeError: ignored

In [ ]:
students[0]['marks']<students[1]['marks']

True

In [ ]:
sorted(students, key=lambda x:x['marks'], reverse = True)

[{'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 70},
 {'name': 'E', 'marks': 60},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

### More examples of Lambda Functions

In [ ]:
## Ex1: constant lambda function: 0 args

a = lambda : 10
a(10)

TypeError: ignored

In [ ]:
a()

10

In [ ]:
# more than 1 arg
sum_two= lambda x,y: x+y
print(sum_two(5,10))
print(sum_two(55,-10))

15
45

In [ ]:
# more than 1 outputs
sum_two= lambda x,y: (x+y,x-y)
print(sum_two(5,10))
print(sum_two(55,-10))

(15, -5)
(45, 65)

In [ ]:
a,b = (sum_two(5,10))
print(a)
print(b)

15
-5

### Homework1: Convert above function to lambda function

In [ ]:
# can we do recursion using lambda function
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)
factorial(5)

120

In [52]:
lambda_fa = lambda x: 1 if x==1 else x*lambda_fa(x-1)
lambda_fa(5)

120

In [ ]:
# default arg
a = (lambda y,x=1:y*(x+2))
a(10)

30

In [ ]:
a(10,4)

60

### map function: Alternative of LOOPS:

In [ ]:
sq = lambda x:x**2
print(map(sq, [1,2,3,4,5]))

<map object at 0x7a70e793fc70>

In [ ]:
for i in map(sq, [1,2,3,4,5]):
    print(i, end=" ")

1 4 9 16 25

In [ ]:
sq = lambda x:x**2
print(list(map(sq, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [ ]:
input = [1,2,3,4,5]
print(set(map(lambda x: x**2, input)))

{1, 4, 9, 16, 25}

In [ ]:
input

[1, 2, 3, 4, 5]

### Homework 2: create dictionary using map

In [49]:
input = [1,2,3,4,5] # {1:1,2:4,3:9,4:16,5:25}
print(set(map(lambda x: x**2, input)))

{1, 4, 9, 16, 25}

In [50]:
(lambda x: x*2)([1,2,3])

[1, 2, 3, 1, 2, 3]

In [51]:
dict(map(lambda x: (x, x**2), input))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Homework 3:
```
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]
def complex_logic(height):
    if height < 150:
        return "S"
    elif height >= 150 and height < 180:
        return "M"
    elif height > 180:
        return "L"

output =['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']
```
Convert the above function into FP

### Homework 4:
Given two lists A and B having 1s and 0s, find another list with element at index `i` as `True` if `A[i] == B[i]` else False

```
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

output = [False, True, False.........]
```

In [53]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [54]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]
out = list(map(lambda x,y: x==y, A,B))
print(out)

[False, True, False, True, False, True, False, False, True, False, True, False]

Filter:
- Filter outs element

In [57]:
print(list(filter(lambda x: x%2==0, [1,2,3,4,5])))

[2, 4]

In [58]:
print(list(filter(lambda x: x-1, [1,2,3,4,5])))

[2, 3, 4, 5]

Reduce

In [64]:
from functools import reduce
reduce(lambda x,y:x-y, range(1,6))

-13

In [65]:
reduce(lambda x,y:y-x, range(1,6))

3

In [66]:
reduce(lambda x,y:x*y, range(1,6))

120

Homework 5: Use reduce to find max number in iterable
```
[10,-5,100,20]

output: 20

In [67]:
reduce(lambda x, y: x if x> y else y, [10,-5,100,20])

100

Higher Order Function:

### Next Class Topics
Decorators and arbitrary arguments in function

In [68]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1 # 1
    d = b**2 # 4
    return lambda: func2(c,d) #

result = func1(1, 2) # func2(1,4)

print(result())

(1, 4)

In [69]:
# chaining reduce and filter
reduce(lambda x,y: x*y,  filter(lambda x: x%5==0 or x%2==0, [1,2,3,4,5]))

40

In [71]:
from functools import reduce
print(reduce(lambda x,y: x+" "+y, ["My","Name","is","Sachin"]))

My Name is Sachin

In [72]:
" ".join(["My","Name","is","Sachin"])

'My Name is Sachin'

In [74]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)

NameError: ignored

Higher Order Function:
- A functions which takes another function as argument or returns a function

### returns a function

In [75]:
def gen_exp(n):
    def inner_exp(x):
        return x**n
    return inner_exp
exp_5 = gen_exp(5)
exp_5(10)

100000

In [76]:
exp_5(2)

32

In [77]:
exp_3 = gen_exp(3)
exp_3(10)

1000

In [78]:
exp_3 = gen_exp(3)
print(exp_3)

<function gen_exp.<locals>.inner_exp at 0x7a70e7913a30>

```
def gen_exp(n):
    def inner_exp(x):
        return x**n
    return inner_exp
```
 Convert this HOF to lambda HOF

Decorators
- Takes a function, returns a function

- Arbitrary args