<a href="https://colab.research.google.com/github/SachinScaler/July23AdvancedPython/blob/main/OOP_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

## initializer is a dunder method which gets excecute when class is instatiated:

In [17]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def get_details(self):
        return f"AccID: {self.acc_id}\tBalance: {self.balance}"

BA1=BankAccount(1000) # init for BA1
BA2=BankAccount(1000) # init for BA2
BA1.balance=9999
print(BA1.get_details())
print(BA2.get_details())

AccID: 100	Balance: 9999
AccID: 101	Balance: 1000

`__str__`: overrides the print behaviour of object

In [21]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.balance}"

BA1=BankAccount(1000) # init for BA1
BA2=BankAccount(1000) # init for BA2
BA1.balance=9999
print(BA1)
print(BA2)

AccID: 100	Balance: 9999
AccID: 101	Balance: 1000

In [26]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.balance}"

    def __eq__(self,obj):
        if self.balance==obj.balance:
            return True
        else:
            return False


BA1=BankAccount(1000) # init for BA1
BA2=BankAccount(1000) # init for BA2
BA1.balance=9999
print(BA1==BA2)

True

In [27]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.balance}"
    def __eq__(self,obj):
        if self.balance==obj.balance:
            return True
        else:
            return False
    def __gt__(self,obj):
        if self.balance>obj.balance:
            return True
        else:
            return False

BA1=BankAccount(1000) # init for BA1
BA2=BankAccount(1000) # init for BA2
BA1.balance=9999
print(BA1>BA2)

True

In [24]:
dir(BA1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'acc_id',
 'balance']

ACCESS SPECIFIERS:
- public Vars: Can be accessed anywhere (Inside the class as well as outside)
- Private Vars: `__` prefix, can't be accessed outside of class

In [28]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.balance}"


BA1=BankAccount(1000) # init for BA1
BA2=BankAccount(1000) # init for BA2
BA1.balance=9999
print(BA1)

AccID: 100	Balance: 9999

In [33]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.__balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.__balance}"

    def set_bal(self, new_bal):
        self.__balance = new_bal

BA1=BankAccount(1000)
BA2=BankAccount(1000)
BA1.__balance=9999 # creating a new varible
print(BA1)
print(BA2)

AccID: 100	Balance: 1000
AccID: 101	Balance: 1000

h

In [31]:
BA1.set_bal(9999)
print(BA1)

AccID: 100	Balance: 9999

In [35]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.__balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.__balance}"

    def set_bal(self, new_bal):
        self.__balance = new_bal

BA1=BankAccount(1000)
print(BA1.__balance)

AttributeError: ignored

In [34]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.__balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.__balance}"

    def set_bal(self, new_bal):
        self.__balance = new_bal

BA1=BankAccount(1000)
BA2=BankAccount(1000)
BA1.__balance=9999 # creating a new varible
print(BA1)
print(BA1.__balance)

AccID: 100	Balance: 1000
9999

In [36]:
class BankAccount:
    acc_id = 100
    def __init__(self ,balance):
        self.__balance = balance
        self.acc_id=BankAccount.acc_id
        BankAccount.acc_id+=1

    def __str__(self):
        return f"AccID: {self.acc_id}\tBalance: {self.__balance}"

    def set_bal(self, new_bal):
        self.__balance = new_bal

BA1=BankAccount(1000)
print(BA1.__dict__)

{'_BankAccount__balance': 1000, 'acc_id': 100}

P

In [37]:
BA1.__balance=9999
print(BA1.__dict__)

{'_BankAccount__balance': 1000, 'acc_id': 100, '__balance': 9999}

### THERE IS NO SUCH THING AS TRUE PRIVATE IN PYTHON

In [41]:
BA1=BankAccount(1000)
print(BA1)
print(BA1._BankAccount__balance)
BA1._BankAccount__balance = 200
print(BA1)

AccID: 104	Balance: 1000
1000
AccID: 104	Balance: 200

### NAME MANGLING: Adds _ClassName as prefix on private variables

#### Homework:  Protected and how is it different from public

# Inheritance: All methods and attributes of parent Class can be accessed by Child Class

In [48]:
class Parent:
    par_var = 100
    def __init__(self):
        print("Initializer of Parent Class") # line1
class Child(Parent):
    child_var = 200
    def __init__(self):
        print("Initializer of Child Class") # line2

p1 = Parent()

Initializer of Parent Class

In [49]:
c1= Child()

Initializer of Child Class

In [50]:
c1.child_var

200

In [51]:
c1.par_var

100

In [54]:
class Parent:
    par_var = 100
    def __init__(self):
        print("Initializer of Parent Class") # line1
class Child(Parent):
    child_var = 200
    def __init__(self):
        super().__init__() # super calls method from parent class
        print("Initializer of Child Class") # line2

c1  = Child()

Initializer of Parent Class
Initializer of Child Class

In [59]:
class Parent(Child):
    par_var = 100
    def __init__(self):
        print("Initializer of Parent Class") # line1
class Child(Parent):
    child_var = 200
    def __init__(self):
        Parent.__init__(self) # super calls method from parent class
        print("Initializer of Child Class") # line2

c1 = Child()
p1 = Parent()

Initializer of Parent Class
Initializer of Child Class
Initializer of Parent Class

In [67]:
class Parent():
    __pri_par_var = 100
    pub_par_var=999
    def __init__(self):
        print("Initializer of Parent Class") # line1
class Child(Parent):
    child_var = 200
    __private= 300
    def __init__(self):
        Parent.__init__(self) # super calls method from parent class
        print("Initializer of Child Class") # line2

    def print_par_var(self):
        return self.__pri_par_var

    def print_self_var(self):
        return self.__private

c1 = Child()
c1.pub_par_var

Initializer of Parent Class
Initializer of Child Class

999

In [66]:
c1.__pri_par_var

AttributeError: ignored

In [68]:
c1.__private

AttributeError: ignored

In [69]:
c1.print_self_var()

300

In [70]:
c1.print_par_var()

AttributeError: ignored

In [73]:
c1._Parent__pri_par_var

100

In [74]:
class Parent():
    var=999
    def __init__(self):
        print("Initializer of Parent Class") # line1
class Child():
    child_var = 200

c1 = Child()
c1.var

AttributeError: ignored

In [82]:
class Vehicle:
    engine_type = "BS4"
    def __init__(self,manufacturer, num_wheels):
        self.manufacturer=manufacturer
        self.num_wheels=num_wheels
class Car(Vehicle):
    v8 = True
    def __init__(self,manufacturer, num_wheels, seat_belt):
        super().__init__(manufacturer, num_wheels)
        self.seat_belt=seat_belt
class Bike(Vehicle):
    def __init__(self,manufacturer, num_wheels, helmet=True):
        super().__init__(manufacturer, num_wheels)
        self.helmet=helmet

b1 = Bike("Hero",2, False)
print(b1.__dict__)

{'manufacturer': 'Hero', 'num_wheels': 2, 'helmet': False}

In [83]:
c1 = Car("Suzuki",4, "Yes")
print(c1.__dict__)

{'manufacturer': 'Suzuki', 'num_wheels': 4, 'seat_belt': 'Yes'}

In [84]:
dir(c1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'engine_type',
 'manufacturer',
 'num_wheels',
 'seat_belt',
 'v8']

In [81]:
c1.engine_type

'BS4'


<img src="
https://i.ibb.co/qRZ061d/Screenshot-2022-02-23-at-8-28-26-PM.png
" width=300 height=350>

In [85]:
class A:
    counter= 0
    def __init__(self):
      A.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

3

In [90]:
class A:
    counter=0
    def __init__(self):
      self.counter= self.counter+1 # self.counter = A.counter +1

A()

obj1 = A()

if A():
    print(A.counter)

0

In [ ]:
class A:
    counter=0
    def __init__(self):
      self.counter= self.counter+1 # self.counter = A.counter +1

A()

obj1 = A()

if A():
    print(A.counter)

In [91]:
class A:
    def __init__(self):
      print("New object Created!")

A() # object1

obj1 = A() # object 2

if A(): # object3
    print(A()) # object4

New object Created!
New object Created!
New object Created!
New object Created!
<__main__.A object at 0x786831888c10>

## Inheritance Type
- Multi-level
- Multiple

In [108]:
class A:
    #x = 100
    def func(self):
        print("Inside A")

class B(A):
    #x =200
    pass


class C(B):
    #x=300
    pass


c1 = C()
print(c1.x)

AttributeError: ignored

In [107]:
print(c1.func())

Inside A
None

In [112]:
class A:
    #x = 100
    def func(self):
        print("Inside A")

class B:
    x =200
    pass


class C(A,B):
    #x=300
    pass


c1 = C()
print(c1.x)

200

In [113]:
class A:
    #x = 100
    def func(self):
        print("Inside A")

class B(A):
    x =200
    pass

class C(A):
    pass


class D(B,C):
    #x=300
    pass

print(D.__mro__)

(<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>)

In [114]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

# E -> C -> B -> D -> A
print(E.__mro__)

(<class '__main__.E'>, <class '__main__.C'>, <class '__main__.B'>, <class '__main__.D'>, <class '__main__.A'>, <class 'object'>)