<a href="https://colab.research.google.com/github/SachinScaler/July23AdvancedPython/blob/main/OOP_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# empty class
class Student:
    #attributes
    #methods
    pass # do nothing

In [6]:
s1 = Student()
print(type(s1))

<class '__main__.Student'>

In [7]:
s2 = Student()
print(type(s2))

<class '__main__.Student'>

In [8]:
dir(s1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

- dunder methods: `__method__`

In [10]:
# everything in python is an object
a = 10
isinstance(a, str)

False

In [11]:
isinstance(a, object)

True

In [12]:
isinstance(s1, object)

True

In [13]:
isinstance(Student, object)

True

In [14]:
print(10+20)

30

In [15]:
print("10"+"20")

1020

In [16]:
class Student:
    batch = "APR23Advanced" # attribute: Class Variable or Static Variable

    def func1(): # method
        print("Studying Numpy and Pandas")


s1 = Student()
# . operator to access attributes and methods using object
print(s1.batch)

APR23Advanced

In [17]:
s2 = Student()
# . operator to access attributes and methods using object
print(s2.batch)

APR23Advanced

In [18]:
print(id(s1))
print(id(s2))

134087566303696
134087566303120

In [19]:
# change using class name
Student.batch = "July23Advance"
print(s1.batch)
print(s2.batch)

July23Advance
July23Advance

In [20]:
s3 = Student()
print(s3.batch)

July23Advance

In [21]:
# change batch using object
s1.batch = "Apr23Advance" # we didnot change the class Varible instead we created a new instance Varible
print(s1.batch)

Apr23Advance

In [24]:
print(Student.batch)

July23Advance

In [22]:
print(s2.batch)
print(s3.batch)

July23Advance
July23Advance

In [25]:
s2.name = "Paul"
print(s3.name)

AttributeError: ignored

In [26]:
print(s2.name)

Paul

Instances can have their unqiue attributes which can be created using instance Variable
while Class Variable is used for creating common/Shared attribute across all objects

In [28]:
s1 = Student()
s1.name = "Udaya"

s2 = Student()
s2.name = "Vamsy"

s3 = Student()
s3.name = "Paul"

print(s1.name)
print(s2.name)
print(s3.name)

Udaya
Vamsy
Paul

In [29]:
print(s1.batch)
print(s2.batch)
print(s3.batch)

July23Advance
July23Advance
July23Advance

Constructor

In [30]:
s1.profession = "DS"
s2.profession = "MLE"
s2.profession = "DS"

`__init__`: Override initializer

In [41]:
class Student:
    # def __init__(name, profession):
    #     pass
    def getdetails(self):
        print("Name of Student: ", self.name)
        print("Profession of Student: ", self.profession)
s1 = Student()
s1.name = "Sachin"
s1.profession= "MLE"

In [42]:
print(s1.name)

Sachin

In [43]:
print(name)

NameError: ignored

In [44]:
s1.getdetails() #behind the scene s1 will be automatically passed to getdetails as first argument: getdetails(s1)

Name of Student:  Sachin
Profession of Student:  MLE

In [45]:
s2 = Student()
s2.name = "Udaya"
s2.profession= "DS"
s2.getdetails() # self stores the value as object which is calling the method
# wherever we are accessing self.name , it would be replaced with s2.name

Name of Student:  Udaya
Profession of Student:  DS

## SELF is reference to object itself

In [49]:
class Student:
    # def __init__(name, profession):
    #     pass
    def getdetails(self):
        print("ID of Self",id(self))

s1 = Student()
print(id(s1))

134087566716128

In [50]:
s1.getdetails()

ID of Self 134087566716128

In [52]:
s2 = Student()
print(id(s2))
s2.getdetails()

134087566717376
ID of Self 134087566717376

In [56]:
class Student:
    def __init__(self,name, profession):
         self.name = name
         self.profession =profession
    def getdetails(self):
        print("Name of Student: ", self.name)
        print("Profession of Student: ", self.profession)
s1 = Student("Sachin", "DSE")
print(s1.name, s1.profession)

Sachin DSE

In [57]:
class Student:
    def __init__(self,name, profession):
         self.- = name
         self.profession =profession
    def getdetails(self):
        print("Name of Student: ", self.name)
        print("Profession of Student: ", self.profession)
s2 = Student("Udaya", "MLE")
print(s2.name, s2.profession)

Udaya MLE

Create student Class and object and Assign rollno starting from 100 to every object of student class alongwith Name and Profession

In [63]:
class Student:
    roll_no=100
    def __init__(self, name, profession):
        self.rollno = Student.roll_no
        Student.roll_no+=1 # we are updating the class varible
        self.name = name
        self.profession = profession
    def get_details(self):
        print('Roll No.:', self.rollno)
        print('Name:', self.name)
        print('Profession:', self.profession)


s1 = Student("A","DS")
print(Student.roll_no)
s2 = Student("B","DS")
print(Student.roll_no)
s3 = Student("c","ML")
print(Student.roll_no)

101
102
103

In [70]:
class Student:
    roll_no=[100]
    batch = "APR23"
    def funct(self):
        print(self.roll_no)
        print(Student.roll_no)
        (Student.roll_no.append(101))
s1 = Student()
s1.funct()

[100]
[100]

In [67]:
print(s1.roll_no)

[100, 101]

In [68]:
print(Student.roll_no)

[100, 101]

In [69]:
print(id(s1.roll_no))
print(id(Student.roll_no))

134087565516992
134087565516992

In [72]:
print(s1.batch)
print(Student.batch)

APR23
APR23

In [73]:
s1.batch = "July23"

In [74]:
print(s1.batch)
print(Student.batch)

July23
APR23

In [75]:
print(id(s1.batch))
print(id(Student.batch))

134087566455408
134087565152496

In [76]:
s1.roll_no.append(1000)
print(s1.roll_no)

[100, 101, 1000]

In [77]:
print(Student.roll_no)

[100, 101, 1000]

```
Note: When updating a class variable using an object -
    - In case of immutable - New Instance Variable created
    - In case of mutable - Original Class Variable updated
```

- Access Specifier
- Inheritance

In [80]:
class Dog:

    kind = "canine"

    def __init__(self, var):
        self.name=var
d1 = Dog("Luffy")
d1.name

'Luffy'

In [82]:
class BA:
  Var = "SBI"
  IFSC=101
  def __init__(self, acc_id, name, balance):
    self.id = acc_id
    self.name = name
    self.bal = balance

c1 = BA(101, "Sachin",1000)
c1.pancard = 1234

print(c1.__dict__)

{'id': 101, 'name': 'Sachin', 'bal': 1000, 'pancard': 1234}

In [ ]:
class Student:
  batch = 'June22'
  def __init__(self, name):
    self.name = name
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")
Student.batch = 'July22'
p2=Student("Chayan")

print(Student.batch, p1.batch, p2.batch)