<a href="https://colab.research.google.com/github/SachinScaler/July23AdvancedPython/blob/main/Python_Refresher3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=1
while (x < 100): # x=100
    x+=2
print(x)

101

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]

a[3:8:100]

[4]

In [5]:
a[3], a[8]

(4, 9)

In [9]:
def access(lst, num):
    lst.append(num)
    num -=4
    return num
lst = [1,2,3] #mutable
num = 4 # immutable
access(lst, num)
print(lst, num)

[1, 2, 3, 4] 4

In [10]:
var = (1,2)
print(type(var))

<class 'tuple'>

In [12]:
var = (1,)
print(type(var))

<class 'tuple'>

In [14]:
var1 = (1,2)
var2 = (3,4)
# 1,2,3,4?

var1 = var1+var2
print(var1)

(1, 2, 3, 4)

In [15]:
var1[0]=100

TypeError: ignored

Whenever possible use tuples.
#### Q1: Tuples are Faster and Efficient. Why?

In [16]:
# unpacking
var1 = (1,2)
a,b = var1

In [22]:
# packing
a=1
b=2
c=1
t = a,b,c
print(t)

(1, 2, 1)

In [20]:
list1 = [1,2,"hello"]
a,b,c = list1
print(c)

hello

In [23]:
# swapping
a=100
b="Some"

a,b = b,a
print(a)
print(b)

Some
100

In [24]:
# functions applicable to both list and tuples
a = (10,1,2,3,4,9)
print(sorted(a)) # not inplace sort
print(min(a))
print(max(a))
print(len(a))

[1, 2, 3, 4, 9, 10]
1
10
6

In [25]:
print(a)

(10, 1, 2, 3, 4, 9)

In [27]:
a = [11,1,10]
a.sort() # inplace sort function

In [28]:
print(a)

[1, 10, 11]

In [30]:
a = [11,1,10]
a = sorted(a)
print(a)

[1, 10, 11]

In [31]:
# 10 is present in list/tuple/strings/set/dictionary
# membership operator: in
10 in a

True

In [32]:
"10" in a

False

In [33]:
a.find(10)

AttributeError: ignored

In [35]:
# for string only: find
"101112".find('10')

0

In [37]:
a = ["cab","aab","aba","aaa"]
a = sorted(a) #lexicographical sorting
print(a)

['aaa', 'aab', 'aba', 'cab']

In [39]:
a = ["111","121","1120","131"]
a = sorted(a) #lexicographical sorting
print(a)

['111', '1120', '121', '131']

In [40]:
a = [111,121,1120,131]
a = sorted(a) #lexicographical sorting
print(a)

[111, 121, 131, 1120]

In [44]:
a = ["11","100"]
a = sorted(a) #lexicographical sorting
print(a)

['100', '11']

In [55]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [49]:
a= ["sachin", "biren","uday","vamsi","ameen"]
print(sorted(a, key=lambda x: len(x)))

['uday', 'biren', 'vamsi', 'ameen', 'sachin']

In [56]:
def myfunc(x):
    return (x.count('e'))


a= ["sachin", "biren","uday","vamsi","ameen"]
print(sorted(a, key=lambda x: x.count('e')))# or print(sorted(a, key=myfunc)

['sachin', 'uday', 'vamsi', 'biren', 'ameen']


Dictionary:

In [57]:
a = {"b":1,"a":2}
sorted(a)

['a', 'b']

In [59]:
len(a)

2

In [60]:
a["a"]

2

In [61]:
a["c"]

KeyError: ignored

In [63]:
if "c" in a:
    print(a["c"])
else:
    print(None)

None

In [64]:
# get function
a.get("a")

2

In [66]:
print(a.get("c"))

None

In [67]:
print(a.get("c","Key Not Present"))

Key Not Present

In [68]:
print(a.get("b","Key Not Present"))

1

In [69]:
print(a)

{'b': 1, 'a': 2}

Delete

In [75]:
a = {"a":1,"b":2,"c":3}
del a['a']

In [76]:
print(a)

{'b': 2, 'c': 3}

In [77]:
val = a.pop('b')
print(val)

2

In [78]:
print(a)

{'c': 3}

In [79]:
val

2

In [80]:
# add element into dict
a = {"a":1,"b":2,"c":3} #"d":4
a['d']=4
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [81]:
a = {"a":1,"b":2,"c":3} #"d":4, "e":5,
a.update({"d":4, "e":5,})
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

iterate over dictionary

In [83]:
for i in a:
    print(i,a[i])

a 1
b 2
c 3
d 4
e 5

In [84]:
for i,j in a.items():
    print(i,j)

a 1
b 2
c 3
d 4
e 5

In [85]:
a.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [87]:
list1 = [[1,2,3],[2,3,10],[4,5,100]]
for i,j,k in list1:
    print(i,j,k)

1 2 3
2 3 10
4 5 100

In [88]:
d = {"id":100,
     "data":{"Name":"Sachin","Pancard":"SZ1231P"}}
print(d)

{'id': 100, 'data': {'Name': 'Sachin', 'Pancard': 'SZ1231P'}}

In [89]:
d['data']['Name']

'Sachin'

In [90]:
Person = {
    "name":"Sachin",
    "age": 25,
    "subject": "python"
}
Person.update({'batch':'Jul23Advanced','age':28})
print(Person)

{'name': 'Sachin', 'age': 28, 'subject': 'python', 'batch': 'Jul23Advanced'}

In [92]:
Person = {
    "name":"Sachin",
    "age": 25,
    "subject": "python"
}
id1 = (id(Person)) # line1
Person.update({'batch':'Jul23Advanced','age':28})
id2 = (id(Person)) # line2
print(id1==id2)

True

In [97]:
Person = {
    "name":"Sachin",
    "age": 25,
    "subject": "python"
}
Person1 = Person.update({'batch':'Jul23Advanced','age':28})
print(id(Person)==id(Person1))

False

In [95]:
print(Person1)

None

In [96]:
Person

{'name': 'Sachin', 'age': 28, 'subject': 'python', 'batch': 'Jul23Advanced'}

In [98]:
Person = {
    "name":"Sachin",
    "age": 25,
    "subject": "python"
}
Person1=Person
Person.update({'batch':'Jul23Advanced','age':28})
print(id(Person)==id(Person1))

True

Set Operations:

In [100]:
s1 = {1,2,3}
s2 = {1,4}

In [102]:
# intersection
print(s1&s2)
print(s1.intersection(s2))

{1}
{1}

In [103]:
# union
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [104]:
# difference
print(s1-s2)
print(s1.difference(s2))

{2, 3}
{2, 3}

In [105]:
# difference
print(s2-s1)
print(s2.difference(s1))

{4}
{4}

In [106]:
# symmetric difference
print(s2^s1)
print(s2.symmetric_difference(s1))

{2, 3, 4}
{2, 3, 4}

In [107]:
print(s1^s2)

{2, 3, 4}

```
string1 = "this is a random string which contains some repearing character and some non-repeating characters. Pick them!"
```

- number of unique
- number of unique words

In [109]:
string1 = "this is a random string which contains some repearing character and some non-repeating characters. Pick them!"
len(set(string1))

21

In [111]:
set(string1.split( ))

{'Pick',
 'a',
 'and',
 'character',
 'characters.',
 'contains',
 'is',
 'non-repeating',
 'random',
 'repearing',
 'some',
 'string',
 'them!',
 'this',
 'which'}

### using split we can convert string to list
### using join we can convert list to string

In [112]:
" ".join(set(string1.split( )))

'this and is contains random repearing which a character string characters. Pick them! non-repeating some'

comprehensions

In [114]:
ans = [i**2 for i in range(10)]
print(ans)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
ans = tuple(i**2 for i in range(10))
print(ans)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [117]:
ans = {i**2 for i in range(10)}
print(ans)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [118]:
ans = {i:i**2 for i in range(10)}
print(ans)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [119]:
# filter comphrension
ans = [i**2 for i in range(10) if i%2==0]
print(ans)

[0, 4, 16, 36, 64]

In [123]:
# output dependent on if else
ans = [i**2 if i%2==0 else None for i in range(10) ]
print(ans)

[0, None, 4, None, 16, None, 36, None, 64, None]

In [126]:
ans = [i**2 if i%2==0 else i**3 if i%3==0 else i for i in range(10) ]
print(ans)

[0, 1, 4, 27, 16, 5, 36, 7, 64, 729]

In [128]:
def my_complicated(i):
    if i%2==0:
        if i%3==0:
            return i+5
        else:
            return i**2
    else:
        return i%2

[my_complicated(i) for i in range(10)]

[5, 1, 4, 1, 16, 1, 11, 1, 64, 1]

In [131]:
# nested loop in comps
out = []
for i in range(5):
    for j in range(5):
        out.append(i+j)
print(out)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [132]:
out = [i+j for i in range(5) for j in range(5)]
print(out)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [133]:
print({1,2}=={2,1,1})

True

In [134]:
wonderset = {1, 4.5, "string", 1,True, [1,2,3]}

TypeError: ignored

In [137]:
wonderset = {1, 4.5, "string",1, True, (1,2,3)}
print(len(wonderset))

4

In [138]:
wonderset

{(1, 2, 3), 1, 4.5, 'string'}

In [139]:
out= {i%3:i for i in range(11)}
print(out)

{0: 9, 1: 10, 2: 8}

In [140]:
for i in range(11):
    print(i%3,i)

0 0
1 1
2 2
0 3
1 4
2 5
0 6
1 7
2 8
0 9
1 10

In [157]:
from collections import defaultdict
dd = defaultdict()
dd["a"]=1
dd['b']=2

In [158]:
dd['a']

1

In [159]:
dd['c']

KeyError: ignored

In [149]:
from collections import defaultdict
dd = defaultdict(list)
dd["a"]=1
dd['b']=2

In [150]:
dd['a']

1

In [151]:
dd['c']

[]

In [156]:
def init_zero():
    return 0
dd = defaultdict(init_zero)
dd["a"]+=1
dd['b']+=2

In [153]:
dd['b']

2

In [154]:
dd['c']

0